.projects-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 3em 0;
  border-bottom: 3px solid;
  min-width: 775px;
}

.projects-content{
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  justify-content: space-around;
  margin: auto;
  background-color: #283a61;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0 2em;
  
  
}

.ind-project-container {
  text-align: left;
  border-bottom: 2px solid white;
  padding: 2em 0;

}

p.projects {
  padding-top: 1em;
  font-size:1.7em;
  line-height:1.7;
  
}

.project-logo {
  max-height: 6em;
  height: auto;
}

.drop-down-container {
  display: flex;
  justify-content: space-between;
  padding-right: 4em;
  min-width: 575px;
  
  
}
.drop-down-arrow {
  width: 35px;
  height: 35px;
  margin-top: 1.2em;
}

.list-temp {
  font-size: 2em;
}