.bio-container {
  width: 600px;
  min-width: 500px;
  margin: auto;
  
}


p.bio {
  font-size: 1.9em;
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.7;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .bio-container {
    min-width: 90%;
    width: 90%;
    
  }
}