.bio-container {
  width: 600px;
  
  min-width: 600px;
  
}

h1.bio {
  font-size: 4em;
  margin: 0;
}

p.bio {
  font-size: 2em;
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.6;
  text-align: justify;
}