.profile-wrapper {
  padding: 0 2rem;
  width: 500px;
  text-align: center;

}

.img {
  width: 300px;
}


h3.profile {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  line-height: 1.8;
}

.profile-icon {
  width: 48px;
  height: 48px;
  fill: white;
  padding: 1em 1em 0;
}

