.skills-container {
  
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom: 3px solid;
}

.skills-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 3em 0;
  
  
}

.skill-graphic {
  width: 100px;
  fill: var(--dark-icon-color);
  
}
.skills-skill {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  
}

.individual-skill {
  box-sizing: border-box;
  width: 200px;
  height: 250px;
}

p.skills {
  text-align: center;
  font-size: 1.5em;
}