.skills-container {
  
  text-align: center;
  width: 100%;
}

.skills-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 3em 10em 0 0;
  width: 100%;
  
  border-bottom: 3px solid;
}

.skill-graphic {
  width: 150px;
  
}
.skills-skill {
  display: flex;
  justify-content: space-around;
  
  width: 100%;
  
}

.individual-skill {
  width: 20%;
}

p.skills {
  text-align: center;
  font-size: 2em;
}