.skills-container {
  
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom: 3px solid;
}

.skills-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding-top: 3em;
  
  
}

.skill-graphic {
  width: 140px;
  fill: gray;
  
}
.skills-skill {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  
}

.individual-skill {
  width: 20%;
}

p.skills {
  text-align: center;
  font-size: 2em;
}