.about-container{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 4em;
  margin: 0 auto 5em;
  border-bottom: 3px solid;
  
}

@media screen and (max-width: 600px) {
  .about-container {
    flex-flow: column;
    width: 100%;
    padding: 2em 0;
    
  }
}