.contact-container {
  padding: 2em 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align:center;
  width: 90%;
  margin: auto;
  min-width: 700px;
  
}

@media screen and (max-width: 600px) {
  .contact-container{
    min-width: 90%;
  }
}