.email-form-container {
  margin: auto;
  max-width: 600px;
  min-width: 400px;
  width: 80%;
}

.email-form-text {
  font-size: 1.5em;
}

input.contact {
  width: 90%;
  padding: 6px 12px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: var(--dark-icon-color);
  margin: 2px auto;
  font-size: 1.2em;
  color: black;

}

input.contact:focus {
  border: 2px solid skyblue;
  outline: none;
}

textarea.contact{
  width: 90%;
  height: 150px;
  padding: 6px 12px;
  
  border: 2px solid black;
  border-radius: 4px;
  background-color: var(--dark-icon-color);
  font-size: 1.2em;
  font: inherit;
  resize: none;
  line-height:1.5;
}

textarea.contact:focus {
  border: 2px solid skyblue;
  outline: none;
}

.send-button {
  background-color: skyblue;
  border: 1px solid black;
  font-family: inherit;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:active {
  background: rgb(42, 149, 192);
  outline: none;
}

@media screen and (max-width: 600px) {
  .email-form-container {
    width: 95%;
    min-width: 95%;
  }
}
