.experience-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 3em 0;
  border-bottom: 3px solid;
  min-width: 700px;
}

.experience-content{
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  justify-content: space-around;
  margin: auto;
  
}

.ind-experience-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
  margin: 2em auto 2em;


}

.exp-logo-container {
  width: 280px;
  height: 200px;
  background-color: white;
  border-radius: 8px;
}
.exp-logo {
  width: 200px;
  height: auto;
  margin: 75px auto;
}
.exp-info {
  padding: 0 2em;
  min-width: 500px;
  max-width: 500px;
}
.exp-company {
  font-weight: bold;
  text-align: left;
  font-size: 2em; 
  margin: 0;
  line-height: 2;
}

.exp-role {
  text-align: left;
  color: skyblue;
  font-size: 1.8em;
  margin: 0;
  line-height: 1.7;
}

.exp-location {
  text-align: left;
  color: skyblue;
  font-size: 1.8em;
  margin: 0;
  line-height: 1.7;
}

p.exp {
  text-align: left;
  font-size: 1.7em;
  line-height: 1.7;

}
.list-temp {
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .experience-container {
    min-width: 90%;
  }
  .experience-content {
    width: 100%;
  }
  .ind-experience-container {
    flex-flow: column;
  }
  .exp-logo-container {
    margin: auto; 
  }
  .exp-info {
    
    min-width: 100%;
    max-width: 100%;
    text-align: justify;
    padding: 0;
  }
  .exp-company {
    padding-top: 1em;
    line-height: 1.5;
  }
  .exp-role {
    padding-top: .5em;
  }
}