:root {
  --dark-bg-color: #272935;
  --dark-icon-color: #7b96ac;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font: 75% georgia, sans-serif;
  line-height: 2;
  color: #ffffff;
  background: var(--dark-bg-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin: 0;
}

p {
  margin-top: 0;
  text-align: justify;
}

a {
  text-decoration: none;
  color: white;
}
.page-wrapper {
  background-color:var(--dark-bg-color);
  width: 100%;
}

.all-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
}

.justify-content-end {
  justify-content:flex-end;
}

.anchor {
  padding-top: 90px;
}
